@media only screen and (min-device-width: 768px) {
	canvas {
		margin: 0px auto;
		max-width: 512px;
	}
}

canvas {
	display: inline-block;
	background: #ffffff;
	border: 2px solid #7f7f7f;
}

canvas.minecraft {
	background: url("bg.png");
}